.available-btn{
    border: 1px solid #75d303;
    border-radius: 3rem;
    padding: 2px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #75d30314;
    transform: scale(.9);
}
.available-btn i{
    color: #75d303;
}
.available-btn span{
    color: #75d303;
    font-size: 14px;
}

/* .hero-image img {
    transition: transform 0.5s ease;
}
  
.hero-image img:hover {
    transform: rotate(5deg);
} */


@media(max-width:1420px){
    .available-btn{
        border-radius: 3rem;
        width: 12rem;
        padding: 2px 10px;
        transform: scale(.9);
    }
    .available-btn i {
        font-size: 14px;
    }
    .company-design-area {
        padding: 65px 0px;
        padding-bottom: 10px;
    }
}

@media(max-width:450px){
    .available-btn{
        border-radius: 3rem;
        width: 10rem;
        padding: 2px 10px;
        transform: scale(.9);
    }
    .available-btn span {
        font-size: 12px;
    }
        
    .scroller[data-speed="slow"] {
        --_animation-duration: 15s;
    }
    .scroller__inner img {
        margin-right: 24px;
    }
}

.hero-content h2 {

    background: radial-gradient(#3d047f, #150033);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    background-clip: text;
    text-fill-color: transparent;
}
.footer-top h2{
    transition: all ease-in-out .3s;
}
.footer-top h2:hover{
    background: radial-gradient(#3d047f, #150033);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all ease-in-out .3s;
    
    background-clip: text;
    text-fill-color: transparent;
}
.company-design-area {
    background: radial-gradient(circle,rgb(70, 9, 139) 0%, rgba(27, 0, 65, 1) 100%);
}
/* .hero-content h2 {

    background: radial-gradient(#4c049f, #150033);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    background-clip: text;
    text-fill-color: transparent;
} */
/* .section-title h2 {
    background: radial-gradient(#4c049f, #150033);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    background-clip: text;
    text-fill-color: transparent;
} */
/* ,.service-item h4 ,.service-item p */

/* .company-design-area {
    background: radial-gradient(circle,rgba(88, 11, 176, 1) 0%, rgba(27, 0, 65, 1) 100%);
}
.about-area {
    background: radial-gradient(circle,rgba(88, 11, 176, 1) 0%, rgba(27, 0, 65, 1) 100%);
}
.projects-area {
    background: radial-gradient(circle,rgba(97, 12, 194, 1) 0%, rgba(27, 0, 65, 1) 100%);
}
.blog-area {
    background: radial-gradient(circle,rgba(97, 12, 194, 1) 0%, rgba(27, 0, 65, 1) 100%);
} */


.portfolio-disclamer-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.portfolio-disclamer-section .portfolio-disclamer-card{
    background-color: #ffffff18;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: center;
}
@media(max-width:400px){
    .portfolio-disclamer-section .portfolio-disclamer-card p{
        font-size: 14px;
    }
    .hero-content h2 {
        background: radial-gradient(#5708b0, #150033);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all ease-in-out .3s;
    
        background-clip: text;
        text-fill-color: transparent;
    }
    .scroller__inner {
        gap: 80px;
        gap: 0rem;
    }
}


